{% extends 'base.html.twig' %}

{% block title %}Page à venir | My Mom's Box{% endblock %}

{% block body %}

    <div class="row">
        <h1 class="display-3 m-auto font-cedarville">Bientôt disponible ...</h1>
    </div>
    
    <div class="row flex-column font-roboto-slab" id="503msg">
        <p class="m-auto">Désolés pour toute cette poussière ! </p>
        <p class="m-auto">L'équipe de votre Mom's Box travaille d’arrache-pied pour faire en sorte que notre site soit parfait ! </p>
        <p class="m-auto">Patience ! Vous pourrez très vite passer vos commandes !</p>
    </div>






{% endblock %}